@model IEnumerable<Web.Models.OrderList>

@{
    ViewBag.Title = "AdminOrders";
}
<h2 style="margin-top: 3%">Orders</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerDetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CustomerDetails)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Delete Order", "OrderDelete", new { id = item.ID }) |
                    @Html.ActionLink("Delivered", "OrderDelivered", new { id = item.ID })
                </td>
            </tr>
        }
    }
</table>
@Html.ActionLink("Back to Admin page", "Index", "Admin", new { area = "" }, new { @class = "nav-link" })