    @model IEnumerable<Web.Models.Products>

@{
    ViewBag.Title = "Products";
}

<h2 style="margin-top: 3%">Products</h2>

<div>
    @Html.ActionLink("Acer", "Brand/Acer", "Products", new { area = "" }, new { @class = "nav-link" })
    @Html.ActionLink("Asus", "Brand/Asus", "Products", new { area = "" }, new { @class = "nav-link" })
    @Html.ActionLink("LG", "Brand/LG", "Products", new { area = "" }, new { @class = "nav-link" })
    @Html.ActionLink("Benq", "Brand/Benq", "Products", new { area = "" }, new { @class = "nav-link" })
    @Html.ActionLink("Dell", "Brand/Dell", "Products", new { area = "" }, new { @class = "nav-link" })
    @Html.ActionLink("Samsung", "Brand/Samsung", "Products", new { area = "" }, new { @class = "nav-link" })
    @Html.ActionLink("Philips", "Brand/Philips", "Products", new { area = "" }, new { @class = "nav-link" })
</div>
<div>

</div>
<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Size)"
        </td>
        <td>
            $@Html.DisplayFor(modelItem => item.Price) 
        </td>
        <td>
            <button class="btn btn-default" onclick="location.href='@Url.Action("Details", new { id = item.ID })'">Details</button>
            <button class="btn btn-default" onclick="location.href='@Url.Action("AddToBasket", new { id = item.ID })'">Add to Cart</button>
        </td>
    </tr>
}

</table>
