@model Web.Models.OrderList
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrderList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Details
        </dt>
        <dd>
            Name: @Html.DisplayFor(model => model.CustomerDetails.FirstName)
           @Html.DisplayFor(model => model.CustomerDetails.LastName)
        </dd>
        <dd>
            Address: @Html.DisplayFor(model => model.DeliveryAddress.ZipCode)
            @Html.DisplayFor(model => model.DeliveryAddress.City)
            @Html.DisplayFor(model => model.DeliveryAddress.Address)
        </dd>

        <dd>
            Email Address: @Html.DisplayFor(model => model.CustomerDetails.EmailAddress)
        </dd>
        <dd>
            Phone Number: @Html.DisplayFor(model => model.CustomerDetails.PhoneNumber)
        </dd>

        <dt>
            Customer ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerDetails.CustomerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
    <dl>
        <dt>
            Purchased Items
        </dt>

        @{
            int fullPrice = 0;
            for (int i = 0; i < Model.BasketList.Count; i++)
            {
        <dd>@Html.DisplayFor(model => model.BasketList[i].Products.Brand) @Html.DisplayFor(model => model.BasketList[i].Products.Name)</dd>
                <dd>Price: @Html.DisplayFor(model => model.BasketList[i].Products.Price)</dd>
                <dd>Quantity: @Html.DisplayFor(model => model.BasketList[i].Quantity)</dd>
                fullPrice += Model.BasketList[i].Products.Price* Model.BasketList[i].Quantity;
                <dd></dd>
            }
                <dd>Full Price: @fullPrice</dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
